@charset "utf-8";

*{
    margin:0;
    padding:0
}
html,body {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 560px;
  position: relative;
  background: #020f40 url('../img/btn_index.jpg') center bottom no-repeat;
  background-attachment: fixed;
  background-size: cover;
	font-family: "microsoft yahei", sans-serif;
	font-size: 14px;
  color: #fff;
}
ul, li {
	list-style: none;
}
a, a:hover {
  color: #fff;
  text-decoration: none;
}
img {
	vertical-align: middle;
	border: none;
}
input{  
	background:none;  
	outline:none;  
	border:0px;
}
.clearfix {
  clear: both;
  display: table;
}
.orange {
  color: #f69506;
}
.cyan {
  color: #07dcef;
}
.gray {
  color: #88898f;
}
.w25 {
  width: 25%;
}
.w33-3 {
  width: 33.33%;
}
.w50 {
  width: 50%;
}
.w75 {
  width: 75%;
}
.font-16 {
  font-size: 16px;
}

/*
 ** 头部样式
*/
.header{
    background: url('../img/index-title.png') center top no-repeat;
    height: 10.92%;
    margin:10px 0 0;
    background-size: contain;
    min-height: 70px;
    max-height:118px;
}
.header-lt{
    float: left;
    cursor:pointer;
    width: 60%;
    height: 55%;
    margin-left:25%; 
    /* background-color:red */
}
.header-rt{
    float: right;
    z-index: 10;
}
.notice-icon{
    width: 16px;
}
.icon-drop{
    width: 14px;
}
.header-rt .user-img{
    width: 24px;
    height: 24px;
    border:1px solid #ccc;
    border-radius:50%;
}
.header-rt ul{
    font-size: 0;
}
.header-rt ul li{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.notice-wrapper{
    padding:0 20px 0 0;
}
.user-notice{
    position: relative;
    padding-right: 20px;
}
.user-operate{
    font-size: 0;
    line-height: 1;
}
.user-operate a{
    padding:0 12px;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.user-operate a:hover{
    color: #fffba8;
}
.user-operate img{
    display: inline-block;
    vertical-align: middle;
}
/* 下拉icon */
.drop-down{
    display: none;
    position: absolute;
    left: 12.5%; /*侧边栏宽度*/
    top:34px;
    right: 10px;
    width: 100%;
    border-bottom:1px solid #ccc;
}
.drop-down a{
  display: block;
  padding:0 10px;
  line-height: 30px;
  border:1px solid #ccc;
  border-bottom:none;
}
/* 侧边栏 */
.aside{
    width: 260px;
    height: 600px;
    position: fixed;
    left: -22%;
    bottom: 0;
    top:7%;
    background: url('../../asset/img/aside_bg.png') center no-repeat;
    overflow: auto;
    box-sizing: content-box;
    background-size:contain;
	z-index: 999;
}
.palace{
    position: absolute;
    bottom:28px;
    left: 16px;
    overflow: hidden;
    width: 228px;
}
.palace-unit{
    width: 33.333333%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: rgba(11, 77, 194);
    float: left;
    position: relative;
    cursor: pointer;
    border-right:3px solid rgba(0, 0, 0, 0.8);
    border-bottom:2px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}
.palace-last{
    border-radius: 0 0 8px 0;
    border-bottom:none;
}
.palace-ct{
    border-bottom:none;
}
.palace-left{
    border-radius: 0 0 0 8px;
    border-bottom:none;
}
.palace-unit:nth-child(3n){
    border-right:none;
}
.icon-fold{
  position: fixed;
  top: 50%;
  left: 18px;
  z-index: 999;
  cursor: pointer;
  margin-top: -13px;
}
.aside-cover{
	position: fixed;
	top: 10%;
	bottom: 0;
	width: 0;
	height: 80%;
	background: #007DDB;
}
.main {
  margin: 10px 30px 10px 70px;
}
/*
 ** 主内容
*/
.wrapper { /*主内容满屏布局*/
  padding: 0;
  margin: 10px 50px 20px;
}
.wrap { /*主内容定宽居中*/
  width: 1280px;
  padding: 0;
  margin: 30px auto 20px;
}
.wrap > dt, .wrapper > dt {
  position: relative;
  padding: 0;
  margin: 0 0 20px;
}
.wrap > dd, .wrapper > dd {
  padding: 0;
  margin: 0;
}
.page-title {
  display: inline-block;
  width: 235px;
  height: 48px;
  padding: 0 0 0 3px;
  margin: 0;
  background-image: url("../img/tabtit_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 3px;
}

/*
 ** 标签页tabs
*/
.tabview {
  height: 100%;
  padding: 0 0 1px;
}
.tabtop {
  height: 40px;
  padding: 0;
  margin: 0;
}
.tabtop > li {
  float: left;
  position: relative;
  /* display: inline-block; */
  width: 240px;
  height: 48px;
  margin-right: 15px;
  padding: 0 0 0 3px;
  line-height: 48px;
  box-sizing: border-box;
  background-image: url("../img/tabtit_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  text-align: center;
}
.tabtop > li a {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  height: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}
.tabtop > li:first-child a {
  border-left: solid 1px transparent;
}
.tabtop > li.on {
  background-image: url("../img/tabtit_bg_on.png")
}
.tabmain {
  padding: 15px 0;
  margin: 0;
}
.tabmain > li {
  display: none;
}
.tabmain > li.on {
  display: block;
}

/* 底部footer */
.footer{
    padding:3.54% 0 2.62%;
    line-height: 1;
    width: 100%;
    text-align: center;
}

/* 报警弹框 */
.police-wrapper{
    position: fixed;
    z-index:2222;
    top: 100px;
    right: 30px;
    border: 1px solid #36dffe;
    box-shadow: 0 0 12px #36dffe;
    background: #0c1139;
    background: linear-gradient(to bottom, #0d0158, #0c1139);
    max-width: 400px;
    min-width: 280px;
}
.police-title{
    padding:15px 20px;
    line-height: 1;
    border-bottom: 1px solid #36dffe;
    text-align: left;
    font-size: 22px;
    position: relative;
}
.police-close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.police-content{
    text-align: left;
    padding:15px 35px;
    max-height: 240px;
    overflow: auto;
    font-size: 14px;
}
.police-content li{
    padding:12px 0;
}
.police-content span{
    color: #35b9f4;
}
.police-content .police-detail{
    color: #a24e03;
}