/*
 ** 头部样式
*/
.header{
    background: cornflowerblue;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.logo{
    position: absolute;
    top: 0;
    left: 20px;
    line-height: 44px;
}
.header-rt{
    float: right;
    line-height: 44px;
}
.header-rt a{
    padding:0 5px;
}
.exit{
    margin: 0 15px;
}
/*
 ** 侧边栏
*/
.aside{
    position: fixed;
    top: 44px; /*取header头部高度*/
    left: 0;
    bottom: 0;
    width: 12.5%; /*侧边栏宽度*/
    background: #000;
    overflow: auto;
	z-index: 2;
}
.palace{
    position: absolute;
    bottom:0;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.palace-unit{
    width: 33.333333%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #ccc;
    float: left;
    position: relative;
    cursor: pointer;
}
.palace-unit:nth-child(even){
    background: #999;
}
.icon-fold{
	position: fixed;
	top: 50%;
	left: 12.5%;
}
.aside-cover{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	background: #007DDB;
}
/*
 ** 主体main
*/
.main{
    position: absolute;
    left: 12.5%; /*侧边栏宽度*/
    right: 0;
    top: 44px; /*取header头部高度*/
    height: 100%;
}