body{
    background: #444;
}
/*
 ** 头部样式
*/
.header{
    background: cornflowerblue;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.logo{
    position: absolute;
    top: 0;
    left: 20px;
    line-height: 44px;
}
.header-rt{
    float: right;
    line-height: 44px;
}
.header-rt a{
    padding:0 5px;
}
.exit{
    margin: 0 15px;
}
/*
 ** 侧边栏
*/
.aside{
    position: fixed;
    top: 44px; /*取header头部高度*/
    left: 0;
    bottom: 0;
    width: 12.5%; /*侧边栏宽度*/
    background: #000;
    overflow: auto;
}
.palace{
    position: absolute;
    bottom:0;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.palace-unit{
    width: 33.333333%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #ccc;
    float: left;
    position: relative;
    cursor: pointer;
}
.palace-unit:nth-child(even){
    background: #999;
}
/*如果色块宽高一致，样式取下面的
.palace-unit{
    width: 33.333333%;
    padding: 33.333333% 0 0;
    background: #ccc;
    float: left;
    position: relative;
    cursor: pointer;
}
.palace-unit span{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    line-height: 1;
    width: 100%;
    text-align: center;
}
*/
/*
 ** 主体main
*/
.main{
    position: absolute;
    left: 12.5%; /*侧边栏宽度*/
    right: 0;
    top: 44px; /*取header头部高度*/
    height: 100%;
}
/*index*/
.notice-board{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 57%;
    padding-top: 32%;
    margin: -16% 0 0 -28%;
    background: url("../img/tstbg.png") no-repeat;
    background-size: 100%;
    max-width: 960px;
}
.continue-wrapper, .target-wrapper{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}
.continue-wrapper{
    bottom: 31.48%;
}
.continue-lt-img{
    display: inline-block;
    width: 40%;
}
.continue-rt-img, .target-rt-img{
    display: inline-block;
    width: 4.375%;
}
.day-wrapper{
    display: inline-block;
    width: 31.6%;
    min-height: 10px;
    font-size: 0;
    vertical-align: bottom;
}
.target-wrapper{
    bottom: 18%;
}
.target-lt-img{
    display: inline-block;
    width: 52%;
}
.target-wrapper-day{
    width: 20%;
}
.day{
    display: inline-block;
    background: #fff;
    color: red;
    font-size: 36px;
    font-family: Arial;
    font-weight: 500;
}
.continue-wrapper .day{
    width: 13.3%;
    margin:0 2%;
}
.target-wrapper .day{
    width: 21%;
    margin:0 3.4%;
}
.minimize{
    position: absolute;
    top: 0;
    right: 1px;
    padding:3px 8px;
    border:1px solid #FFB800;
    line-height: 1;
}
.content{
    padding: 20px;
}
.notice-board-small{
    display: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    padding:3px 5px;
    text-align: center;
    border: 1px solid #ccc;
}
.icon-maximum{
    position: absolute;
    top: -21px;
    right: -1px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #000;
}