/*
* 覆写组件样式：layui
*/

/*--form--*/
.layui-inline .layui-form-label {
  display: inline-block;
  width: auto;
  padding: 6px 0;
}
.layui-form-item {
  margin-bottom: 0;
}
.layui-form-item .layui-input-inline {
  width: 120px;
}
.layui-input, .layui-select, .layui-textarea {
  height: 30px;
}
.layui-btn {
  height: 30px;
  line-height: 30px;
}
.layui-btn-normal {
  background-color: #3d5ac6;
}
.layui-btn-primary, .layui-laypage input {
  border: 1px solid #3d59c6;
  background-color: transparent;
  color: #fff;
}

/*--table--*/
.layui-table {
  background-color: transparent;
  color: #fff;
}
.layui-table td, .layui-table th, .layui-table-header, .layui-table-view {
  border: none;
}
.layui-table th {
  font-size: 16px;
}
.layui-table-header, .layui-table thead tr, .layui-table tbody tr:hover {
  background-color: transparent;
}
.layui-table-header .layui-table-cell {
  background-color: #3171f8;
}
.layui-table-body .layui-table-cell {
  background-color: #191e48;
}
.layui-table-header>table>thead>tr>th:first-child .layui-table-cell,
.layui-table-body>table>tbody>tr>td:first-child .layui-table-cell {
  border-radius: 10px 0 0 10px;
}
.layui-table-header>table>thead>tr>th:last-child .layui-table-cell,
.layui-table-body>table>tbody>tr>td:last-child .layui-table-cell {
  border-radius: 0 10px 10px 0;
}
.layui-table-cell {
  height: 54px;
  padding: 15px;
  line-height: 24px;
}
.layui-table-page {
  display: table;
  width: auto;
  margin: 0 auto;
  border: 0;
}
.layui-table-page .layui-laypage button {
  line-height: 24px;
  border: 0;
  background-color: transparent;
  border: 1px solid #3d59c6;
  color: #fff;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #3d5ac6;
}
.layui-laypage .layui-laypage-skip, .layui-laypage span {
  color: #fff;
}

/*日历样式*/
.layui-laydate{
  border:0 none!important;
  background: #042867!important;
  background: rgba(4,40,103, 0.88)!important;
}
.layui-laydate .layui-laydate-main,
.layui-laydate .layui-laydate-content td,
.layui-laydate .layui-laydate-content th,
.layui-laydate .layui-laydate-header i{
  color: #34dffd;
}
.layui-laydate .layui-laydate-content td{
  height: 36px;
}
.layui-laydate .layui-laydate-content .layui-this{
  background: #0b4db2!important;
}
.layui-laydate .layui-laydate-content .laydate-day-next,
.layui-laydate .layui-laydate-content .laydate-day-prev{
  color: #156c96;
}
.layui-laydate .layui-laydate-header{
  border-bottom:0 none;
}
.layui-laydate .layui-laydate-footer{
  display: none;
}
