.duty-title {
  margin-bottom: 20px;
}

.duty-video {
  clear: left;
  margin: 10px 29% 10px 10px;
  border-radius: 5px;
  background:url(../../asset/img/gst_bj.png) center no-repeat;
  background-size:cover;
}

.duty-detail {
  float: right;
  width: 29%;
  padding: 10px 15px;
  box-sizing: border-box;
  text-align: center
}

.duty-detail p {
  padding: 1px 0;
  margin: 0;
}

.duty-man-img {
  max-width: 100%;
  margin-bottom: 3px;
  display: inline-block;
  background: #229fe6;
}

.duty-content {
    display: table;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.duty-content-item {
  float: left;
  width: 33.3%;
  padding: 0;
  margin: 0;
}
.duty-content-item > li {
  padding: 0;
  margin: 1%;
  background: rgba(6, 4, 122, 0.6);
  border-radius: 5px;
  border: 1px solid #229fe6;
}