.fixed-duty {
    max-width: 1400px;
    width: 73%;
    margin:0 auto;
}

.duty-title {
    margin-bottom: 20px;
}

.duty-video {
  clear: left;
  margin: 15px 40% 15px 15px;
  border-radius: 5px;
  background:url(../../asset/img/gst_bj.png) center no-repeat;
  background-size:cover;
}

.duty-detail {
  float: right;
  width: 39%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center
}

.duty-detail p {
  padding: 3px 0;
  margin: 0;
}

.duty-man-img {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  background: #229fe6;
}

.duty-content {
    display: table;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.duty-content-item {
  float: left;
  margin: 18px;
  padding: 0;
  width: 30%;
  background: rgba(6, 4, 122, 0.6);
  border-radius: 5px;
  border: 1px solid #229fe6;
}