/* 倒计时 */
.time-end{
    margin:2.3% 0 0;
    color:black;
    text-align: center;
}
.numbs {
	position: relative;
	display: inline-block;
	height: 48px;
	overflow: hidden;
	vertical-align: middle;
}
.digit-container i {
	display: inline-block;
    border:1px solid #ff549d;
    box-sizing: border-box;
	-webkit-background-clip: text;
	width: 29px;
	height: 48px;
	font-size: 32px;
	line-height: 48px;
	font-style: normal;
    text-align: center;
    color:#fff
}

.numbs .digit-container {
	float: left;
	width: 29px;
	text-align: center;
    overflow: hidden;
    margin-right: 5px;
    background: rgba(72,22,102,0.8);
	font-size: 0;
}
.numbs .shadows {
	position: absolute;
	display: inline-block;
}
.shadows > i {
	float: left;
	width: 29px;
	height: 48px;
	/* background-color: rgba(250,250,250,0.3); */
	background-size: cover;
}
.txt{
    padding-right:10px;
    color:#fff;
    text-align: right;
}
/* 功能操作按钮 */
.container{
    max-width: 1400px;
    width: 72.92%;
    margin:0 auto;
}
.row-first, .row-second{
    overflow: hidden;

}
.row-first{
    margin:3.71% 0 3% 0;
}
.row-first a, .row-second a{
    display: block;
    float: left;
}
.row-first a, .row-second a{
    transition: all 0.3s;
    background-size: 100% 100%;
}
.complex-monitor{
    width:46.64%;
    padding: 22.42% 0 0;
    background-image: url("../../asset/img/complex-monitor.png");
}
.complex-monitor:hover{
    background-image: url("../../asset/img/complex-monitor_on.png");
}
.fixed-duty{
    width: 22.07%;
    margin: 0 4%;
    padding: 22.07% 0 0;
    background-image: url("../../asset/img/fixed-duty.png");
}
.fixed-duty:hover{
    background-image: url("../../asset/img/fixed-duty_on.png");
}
.call-police{
    width: 22.07%;
    padding: 22.07% 0 0;
    background-image: url("../../asset/img/call-police.png");
}
.call-police:hover{
    background-image: url("../../asset/img/call-police_on.png");
}
.row-second-lt{
    width: 21.71%;
    float: left;
    overflow: hidden;
}
.world-run{
    width: 100%;
    padding: 47.37% 0 0;
    margin:0 0 7.2% 0;
    background-image: url("../../asset/img/world-run.png");
}
.world-run:hover{
    background-image: url("../../asset/img/world-run_on.png");
}
.duty-schedule{
    width: 100%;
    padding: 47.37% 0 0;
    background-image: url("../../asset/img/duty-schedule.png");
}
.duty-schedule:hover{
    background-image: url("../../asset/img/duty-schedule_on.png");
}
.tv-wall{
    width: 22.14%;
    margin:0 0 0 2.43%;
    padding: 22.14% 0 0;
    background-image: url("../../asset/img/tv-wall.png");
}
.tv-wall:hover{
    background-image: url("../../asset/img/tv-wall_on.png");
}
.data-view{
    width: 22.14%;
    padding: 22.14% 0 0;
    margin:0 4.36% 0 4.07%;
    background-image: url("../../asset/img/data-view.png");
}
.data-view:hover{
    background-image: url("../../asset/img/data-view_on.png");
}
.three-view{
    width: 22.14%;
    padding: 22.14% 0 0;
    background-image: url("../../asset/img/three-view.png");
}
.three-view:hover{
    background-image: url("../../asset/img/three-view_on.png");

}
