/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

.ztree * {padding:0; margin:0; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:8px 25px 14px; border-top: solid 1px #E4E7EA}
.ztree:first-child {
	border-top: solid 1px transparent;
}
.ztree li{padding:0; margin:0; list-style:none; line-height:36px; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 30px}
.ztree li ul.line{ background:url(./img/line_conn.gif) 0 0 repeat-y;}

.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; height:32px; line-height: 32px; color:#229fe6; background-color: transparent;
	text-decoration:none; vertical-align:middle; display: inline-block}
.ztree li a.curSelectedNode {color:#fff;}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:#229fe6; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.tmpTargetNode_inner {padding-top:0px; background-color:#316AC5; color:white; height:16px; border:1px #316AC5 solid;
	opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
	font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:30px; margin-right:2px}
.ztree li span.button {line-height:0; margin:0; width:27px; height:27px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("./img/zTreeStandard.png"); *background-image:url("./img/zTreeStandard.gif")}

.ztree li span.button.chk {width:16px; height:16px; margin:5px 1px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -16px}
.ztree li span.button.chk.checkbox_false_part {background-position:0 -32px}
.ztree li span.button.chk.checkbox_false_part_focus {background-position:0 -48px}
.ztree li span.button.chk.checkbox_false_disable {background-position:0 -64px}
.ztree li span.button.chk.checkbox_true_full {background-position:-16px 0}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-16px -16px}
.ztree li span.button.chk.checkbox_true_part {background-position:-16px -64px}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-16px -48px}
.ztree li span.button.chk.checkbox_true_disable {background-position:-16px -64px}
.ztree li span.button.chk.radio_false_full {background-position:-48px -16px}
.ztree li span.button.chk.radio_false_full_focus {background-position:-32px -16px}
.ztree li span.button.chk.radio_false_part {background-position:-32px -32px}
.ztree li span.button.chk.radio_false_part_focus {background-position:-32px -48px}
.ztree li span.button.chk.radio_false_disable {background-position:-32px -64px}
.ztree li span.button.chk.radio_true_full {background-position:-32px -16px}
.ztree li span.button.chk.radio_true_full_focus {background-position:-48px -16px}
.ztree li span.button.chk.radio_true_part {background-position:-48px -32px}
.ztree li span.button.chk.radio_true_part_focus {background-position:-48px -48px}
.ztree li span.button.chk.radio_true_disable {background-position:-48px -64px}

.ztree li span.button.switch {width:24px; height:34px; padding-top:6px;}
.ztree li span.button.root_open{background-position:-122px -88px}
.ztree li span.button.root_close{background-position:-98px -88px}
.ztree li span.button.roots_open{background-position:-122px 0}
.ztree li span.button.roots_close{background-position:-98px 0}
.ztree li span.button.center_open{background-position:-122px -28px}
.ztree li span.button.center_close{background-position:-98px -28px}
.ztree li span.button.bottom_open{background-position:-122px -58px}
.ztree li span.button.bottom_close{background-position:-98px -58px}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}
.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-122px 0}
.ztree li span.button.center_docu{background-position:-69px -28px}
.ztree li span.button.bottom_docu{background-position:-69px -63px}
.ztree li span.button.noline_docu{ background:none;}

.ztree li span.button.ico_open{margin-right:2px; background-position:-146px 0px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_close{margin-right:2px; background-position:-146px 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_docu{width:30px;margin-right:2px; background-position:-146px -30px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.edit {margin-right:2px; background-position:-110px -48px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.remove {margin-right:2px; background-position:-110px -64px; vertical-align:top; *vertical-align:middle}

.ztree li a.curSelectedNode span.button.ico_open,
.ztree li a.curSelectedNode span.button.ico_close {background-position:-173px 0;}
.ztree li a.curSelectedNode span {color: #fff;}
.ztree li a.curSelectedNode span.button.ico_docu {background-position:-172px -30px;}

.ztree li span.button.ico_loading{margin-right:2px; background:url(./img/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {width:16px; height:16px; display: inline-block; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-position:-136px -80px; background-image:url("./img/zTreeStandard.png"); *background-image:url("./img/zTreeStandard.gif")}

ul.ztree.zTreeDragUL {margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:hidden; background-color:#cfcfcf; border:1px #00B83F dotted; opacity:0.8; filter:alpha(opacity=80)}
.zTreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}

/* 自定义icon */
.ztree li span.button.around_ico_open, .ztree li span.button.around_ico_close {
	background-position: -147px -57px;
}
.ztree li a.curSelectedNode span.button.around_ico_open, .ztree li a.curSelectedNode span.button.around_ico_close {
	background-position: -173px -57px;
}
.ztree li span.button.digital_ico_open, .ztree li span.button.digital_ico_close {
	background-position: -147px -81px;
}
.ztree li a.curSelectedNode span.button.digital_ico_open, .ztree li a.curSelectedNode span.button.digital_ico_close {
	background-position: -173px -81px;
}
.ztree li span.button.sentry_ico_open, .ztree li span.button.sentry_ico_close {
	background-position: -147px -105px;
}
.ztree li a.curSelectedNode span.button.sentry_ico_open, .ztree li a.curSelectedNode span.button.sentry_ico_close {
	background-position: -173px -105px;
}
.ztree li span.button.zip_ico_open, .ztree li span.button.zip_ico_close {
	background-position: -147px -129px;
}
.ztree li a.curSelectedNode span.button.zip_ico_open, .ztree li a.curSelectedNode span.button.zip_ico_close {
	background-position: -173px -129px;
}
.ztree li span.button.soldier_ico_open, .ztree li span.button.soldier_ico_close {
	background-position: -147px -155px;
}
.ztree li a.curSelectedNode span.button.soldier_ico_open, .ztree li a.curSelectedNode span.button.soldier_ico_close {
	background-position: -173px -155px;
}
.ztree li span.button.cam_ico_open, .ztree li span.button.cam_ico_close {
	background-position: -147px -182px;
}
.ztree li a.curSelectedNode span.button.cam_ico_open, .ztree li a.curSelectedNode span.button.cam_ico_close {
	background-position: -173px -182px;
}