.tv-left {
    width: 200px;
    height: 100%;
    float: left;
    padding: 10px 30px 0 20px;
    margin-top: 144px;
}

.tv-left a{
    display: block;
    margin-bottom: 50px;
}

.tv-right{
    clear: right;
    height: 100%;
    margin-left: 250px;
    margin-top: -70px;
}


.tv-bg{
  height: 100%;
}
.tv-video{
    width: 100%;
    border: 2px solid #fefb00;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

.tv-video li{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
.video-li-l{
    border-right: 2px solid #fefb00;
}

.video-max{
    line-height: 300px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #fefb00;
    background: url("../../asset/img/tv-video-bj.png") center center no-repeat;
    background-size: cover;

}

.video-min{
    width: 100%;

}

.video-min>span{
    float: left;
    background: url("../../asset/img/video-min-bj.png") center center no-repeat;
    background-size: cover;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.video-bor{
    height: 100%;
    border-right: 2px solid #fefb00;
}

.tv-rcya{
    width: 200px;
    background: url(../../asset/img/tv-rcya.png) no-repeat;
    height: 58px;
    background-size: 100% 100%;
}

.tv-rcya:hover{
    background: url(../../asset/img/tv-rcya-on.png) no-repeat;
    background-size: 100% 100%;
}

.tv_ljht{
    width: 200px;
    background: url(../../asset/img/tv_ljht.png) no-repeat;
    height: 58px;
    background-size: 100% 100%;
}
.tv_ljht:hover{
    background: url(../../asset/img/tv_ljht_on.png) no-repeat;
    background-size: 100% 100%;
}

.tv-abzq{
    width: 200px;
    background: url(../../asset/img/tv-abzq.png) no-repeat;
    height: 58px;
    background-size: 100% 100%;
}

.tv-abzq:hover{
    background: url(../../asset/img/tv-abzq-on.png) no-repeat;
    background-size: 100% 100%;
}





.tv-bg i{
    position: absolute;
    display: inline-block;
}

.tv-left-lt{
    left: 0;
    top: 0;
    width: 184px;
    height: 78px;
    background: url('../../asset/img/tv-bg-lt.png') no-repeat;

}

.tv-left-mt{
    left: 50px;
    right: 108px;
    top: 0;
    height: 500px;
    background: url('../../asset/img/tv-bg-mt.png') repeat-x;
}