.tv-left {
    width: 200px;
    height: 100%;
    float: left;
    padding: 10px 30px 0 20px;
    margin-top: 100px;
}

.tv-left a{
    display: block;
    margin-bottom: 50px;
}

.tv-right{
    clear: right;
    height: 100%;
    margin-left: 250px;
    margin-top: -70px;
}

.tv-video{
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid #fefb00;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

.tv-video li{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
.video-li-l{
    border-right: 2px solid #fefb00;
}

.video-max{
    line-height: 300px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #fefb00;
    background: url("../../asset/img/tv-video-bj.png") center center no-repeat;
    background-size: cover;

}

.video-min{
    width: 100%;

}

.video-min>span{
    float: left;
    background: url("../../asset/img/video-min-bj.png") center center no-repeat;
    background-size: cover;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.video-bor{
    height: 100%;
    border-right: 2px solid #fefb00;
}

.tv-rcya{
    display: block;
    width: 200px;
    height: 58px;
    line-height: 58px;
    border: 1px solid #00bffe;
    border-radius: 10px;
    text-align: center;
    padding-left: 5px;
    margin-bottom: 30px;
}

.tv-rcya a{
    font-family: 'microsoft yahei';
    font-size: 24px;
    color: #00a9e0;
    letter-spacing:5px;
}

.tv-rcya:hover{
    background: #00a9e0;
}
.tv-rcya a:hover{
    font-family: 'microsoft yahei';
    font-size: 24px;
    color: #fff;
    letter-spacing:5px;
}


.tv-bg{
    position: absolute;
    z-index: 0;
}

.tv-bg i{
    position: absolute;
    display: inline-block;
}

.tv-top-lt{
    left: 0;
    top: 0;
    width: 184px;
    height: 78px;
    background: url('../../asset/img/tv-bg-lt.png') 0 0 no-repeat;

}

.tv-top-mt{
    left: 184px;
    right: 108px;
    top: 0;
    height: 500px;
    width: 500px;
    background: url('../../asset/img/tv-bg-mt.png') 0 0 repeat-x;
}

.tv-top-rt{
    right: 0;
    top: 0;
    width: 108px;
    height: 140px;
    background: url('../../asset/img/tv-bg-rt.png') 0 0 repeat-x;
}