/* tab样式 */

/* body {
    background: #000;
} */

.map-box {
    position: relative;
    width: 1324px;
    height: 801px;
    margin: 0 auto;
}

.map-box>img,
.inner-box>dd>.map-img {
    position: relative;
    max-width: 100%;
    z-index: 0;
}

.map-box>.inner-box {
    position: absolute;
    left: 6.66%;
    right: 6.66%;
    top: 12.5%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.map-box>.inner-box>dd,
.map-box>.inner-box>dt {
    padding: 0;
    margin: 0;
}

/*.map-box > .inner-box > dd {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }*/
.scale-img{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.map-box>.inner-box>dt {
    position: absolute;
    right: 0;
    bottom: 3%;
    width: 90px;
}
.map-img-content{
    position: relative;
}
/* 摄像头定位 */
.camera{
    position: absolute;
    cursor: pointer;
    width: 30px;
}
.camera1{
    left: 2%;
    top: 63%;
}
.camera2{
    left: 1%;
    top: 55%;
}
.camera3{
    left: 13%;
    top: 71%;
}
.camera4{
    left: 21%;
    top: 69%;
}
.camera5{
    left: 26%;
    top: 80%;
}
.camera6{
    left: 15%;
    top: 92%;
}
.camera7{
    left: 42%;
    top: 92%;
}
.camera8{
    left: 46%;
    top: 90%;
}
.camera9{
    left: 52%;
    top: 75%;
}
.camera10{
    left: 59%;
    top: 61%;
}
.camera11{
    left: 65%;
    top: 49%;
}
.camera12{
    left: 49%;
    top: 34%;
}
.camera13{
    left: 51%;
    top: 24%;
}
.camera14{
    left: 56%;
    top: 18%;
}
.camera15{
    left: 61%;
    top: 11%;
}
.camera16{
    left: 62%;
    top: 6%;
}
.camera17{
    left: 56%;
    top: 8%;
}
.camera18{
    left: 52%;
    top: 3%;
}
.camera19{
    left: 46%;
    top: 2%;
}
.camera20{
    left: 41%;
    top: 8%;
}
.camera21{
    left: 36%;
    top: 14%;
}
.camera22{
    left: 22%;
    top: 32%;
}
.btn-zoom {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 5px 0;
}

.btn-zoom.btn-zoomin {
    background: url("../../asset/img/btn-zoomin.png") no-repeat;
    background-size: 100%;
}

.btn-zoom.btn-zoomout {
    background: url("../../asset/img/btn-zoomout.png") no-repeat;
    background-size: 100%;
}

/* 侧边栏 */
.aside{
    width: 320px;
    height: 750px;
    position: fixed;
    left: -22%;
    bottom: 0;
    top:7%;
    background: url('../../asset/img/aside_bg.png') center no-repeat;
    overflow: auto;
    box-sizing: content-box;
    background-size:100%; 
	z-index: 2;
}
.palace{
    position: absolute;
    bottom:6%;
    left: 5%;
    overflow: hidden;
    width: 93%;
    /* padding-left:5%;
    padding-bottom:5%; */
    /* padding-right: 10%; */
}
.palace-unit{
    width: 30%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #ccc;
    float: left;
    position: relative;
    cursor: pointer;
    margin-left:5px;
    margin-bottom:5px;
}
.palace-unit:nth-child(even){
    background: #999;
}
.icon-fold{
  position: fixed;
  color: #fff;
	top: 50%;
  left: 1%;
  z-index: 2;
  cursor: pointer;
}
.aside-cover{
	position: fixed;
	top: 10%;
	bottom: 0;
	width: 0;
	height: 80%;
	background: #007DDB;
}

/* 分屏 */
.split-mode {
  position: relative;
}
.mode-content {
  position: relative;
  padding: 8px;
  border: solid 2px #229fe6;
  box-shadow: 0 0 18px rgba(4,211,255,0.7), inset 0 0 18px rgba(4,211,255,0.7);
}
/* 分屏1×1 */
.mode-content.mode-rec-1 > li {
  float: left;
  width: 100%;
}
/* 分屏2×2 */
.mode-content.mode-rec-2 > li {
  float: left;
  width: 50%;
}
/* 分屏3×3 */
.mode-content.mode-rec-3 > li {
  float: left;
  width: 33.33%;
}
/* 分屏4×4 */
.mode-content.mode-rec-4 > li {
  float: left;
  width: 25%;
}
.mode-content > li > dl {
  position: relative;
  padding: 0;
  margin: 5px;
}
.videos {
  width: 100%;
  height: 60px;
  background: #00B83F;
  padding: 0;
  margin: 0;
}
.v-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  line-height: 32px;
  background: rgba(0,0,0,.8);
  text-align: right;
  z-index: 2;
}
.v-toolbar > a {
  margin-left: 15px;
}


.tab-content{
    position: relative;
    padding:30px;
    overflow: hidden;
}
.slider-operate{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 55px;
    padding-top:20px;
    /* line-height: 75px; */
    border:1px solid #fff;
    border-radius: 5px;
    text-align: center
    /* background:rgba(34,35,57,0.5) */
}
.slider-operate img{
    width: 3%;
    padding-right: 10px;
}
.slider{
    display: inline-block;
    width: 20%;
}

.video{
    position: relative;
    display: inline-block;
    /* width: 100%; */
}
.video-content{
    width: 1200px;
    height: 675px;
    background-color:red
}
.video-btn{
    position: absolute;
    bottom:8px;
}
.video-btn img{
    width: 22%;
    padding-left: 5px;
    /* box-sizing: border-box */
}