.sign {
    height: 20px;
    width: 79%;
    text-align: center;
}
.sign span{
    font-size: 12px;
    margin:0 0px 0 40px;
}
.sign .btn-police{
    float: right;
    margin:-7px 0 0;
}
.icon-sign-red{
    background: url("../../asset/img/sign-red.png") left no-repeat;
    padding-left: 30px;
}
.icon-sign-yellow{
    background: url("../../asset/img/sign-yellow.png") left no-repeat;
    padding-left: 30px;
}
.icon-sign-green{
    background: url("../../asset/img/sign-green.png") left no-repeat;
    padding-left: 30px;
}
.prevention-left{
    float: left;
    width: 79%;
}
.prevention-right{
    float: left;
    width: 21%;
    padding-left: 20px;
    margin-top: -70px;
    box-sizing:border-box;
}

.prevention-map {
    position: relative;
    border: 1px solid #563ad2;
    box-shadow: 0 0 10px #563ad2;
    padding: 10px;
}

.icon-corner{
    position: absolute;
    width: 43px;
    height: 40px;
}

.corner-top-left{
    top: -18px;
    bottom: -18px;
    left: -18px;
    background: url("../../asset/img/corner-top-left.png") no-repeat;
}

.corner-top-right{
    top: -18px;
    bottom: -18px;
    right: -18px;
    background: url("../../asset/img/corner-top-right.png") no-repeat;
}

.corner-bottom-left{
    bottom: -18px;
    left: -18px;
    background: url("../../asset/img/corner-bottom-left.png") no-repeat;
}

.corner-bottom-right{
    bottom: -18px;
    right: -18px;
    background: url("../../asset/img/corner-bottom-right.png") no-repeat;
}

.prevention-img {
    position: relative;
}
.prevention-img img{
    max-width: 100%;
    width: 100%;
}
.prevention-img span{
    position: absolute;
    width: 28px;
    height: 28px;
    background-size: contain;
}
.r-warn1{
    left: 12.63%;
    bottom: 27.5%;
}
.g-warn1{
    left: 12%;
    bottom: 26.5%;
}
.y-warn1{
    left: 13.2%;
    bottom: 26.4%;
}
.r-warn2{
    left: 4.94%;
    bottom: 32.9%;
}
.g-warn2{
    left: 4%;
    bottom: 31.9%;
}
.y-warn2{
    left: 5.4%;
    bottom: 31.9%;
}
.r-warn3{
    left: 4%;
    bottom: 39.5%;
}
.g-warn3{
    left: 3%;
    bottom: 38.5%;
}
.y-warn3{
    left: 4.5%;
    bottom: 38.5%;
}
.r-warn4{
    left: 12.63%;
    bottom: 49.3%;
}
.g-warn4{
    left: 12%;
    bottom: 48.1%;
}
.y-warn4{
    left: 13.3%;
    bottom: 48.1%;
}
.r-warn5{
    left: 17.5%;
    bottom: 54.3%;
}
.g-warn5{
    left: 16.8%;
    bottom: 53.3%;
}
.y-warn5{
    left: 18%;
    bottom: 53.3%;
}
.r-warn6{
    left: 27%;
    top: 30%;
}
.g-warn6{
    left: 26.2%;
    top: 31%;
}
.y-warn6{
    left: 27.5%;
    top: 31%;
}
.r-warn7{
    left: 32.1%;
    top: 24.75%;
}
.g-warn7{
    left: 31.3%;
    top: 25.75%;
}
.y-warn7{
    left: 32.6%;
    top: 25.75%;
}
.r-warn8{
    left: 39%;
    top: 17.76%;
}
.g-warn8{
    left: 38.2%;
    top: 18.76%;
}
.y-warn8{
    left: 39.4%;
    top: 18.76%;
}
.r-warn9{
    left: 44.9%;
    top: 11.37%;
}
.g-warn9{
    left: 44.1%;
    top: 12.37%;
}
.y-warn9{
    left: 45.4%;
    top: 12.37%;
}
.r-warn10{
    left: 49.9%;
    top: 6.3%;
}
.g-warn10{
    left: 49%;
    top: 7.37%;
}
.y-warn10{
    left: 50.4%;
    top: 7.37%;
}
.r-warn11{
    right: 43.7%;
    top: 2.9%;
}
.g-warn11{
    right: 44.4%;
    top: 3.9%;
}
.y-warn11{
    right: 43.2%;
    top: 3.9%;
}
.r-warn12{
    right: 40%;
    top: 2.9%;
}
.g-warn12{
    right: 40.5%;
    top: 4.2%;
}
.y-warn12{
    right: 39.5%;
    top: 4.2%;
}
.r-warn13{
    right: 28.21%;
    top: 6.9%;
}
.g-warn13{
    right: 28.8%;
    top: 8%;
}
.y-warn13{
    right: 27.5%;
    top: 8%;
}
.r-warn14{
    right: 29.3%;
    top: 13%;
}
.g-warn14{
    right: 30%;
    top: 14%;
}
.y-warn14{
    right: 28.5%;
    top: 14%;
}
.r-warn15{
    right: 33%;
    top: 17.5%;
}
.g-warn15{
    right: 33.6%;
    top: 18.5%;
}
.y-warn15{
    right: 32.3%;
    top: 18.5%;
}
.r-warn16{
    right: 36.8%;
    top: 22%;
}
.g-warn16{
    right: 37.4%;
    top: 23%;
}
.y-warn16{
    right: 36.1%;
    top: 23%;
}
.r-warn17{
    right: 40.3%;
    top: 25.8%;
}
.g-warn17{
    right: 41%;
    top: 26.7%;
}
.y-warn17{
    right: 39.8%;
    top: 26.7%;
}
.r-warn18{
    right: 43%;
    top: 28.8%;
}
.g-warn18{
    right: 43.6%;
    top: 29.8%;
}
.y-warn18{
    right: 42.2%;
    top: 29.8%;
}
.r-warn19{
    right: 41%;
    top: 33.2%;
}
.g-warn19{
    right: 41.5%;
    top: 34.5%;
}
.y-warn19{
    right: 40.5%;
    top: 34.7%;
}
.r-warn20{
    right: 27.6%;
    top: 40%;
}
.g-warn20{
    right: 28.4%;
    top: 41.5%;
}
.y-warn20{
    right: 27.2%;
    top: 41.5%;
}
.r-warn21{
    right: 23.8%;
    top: 49.5%;
}
.g-warn21{
    right: 24.3%;
    top: 50.7%;
}
.y-warn21{
    right: 23.2%;
    top: 50.7%;
}
.r-warn22{
    right: 29.8%;
    top: 60.5%;
}
.g-warn22{
    right: 30.4%;
    top: 61.7%;
}
.y-warn22{
    right: 29.2%;
    top: 61.7%;
}
.r-warn23{
    right: 36.8%;
    bottom: 21%;
}
.g-warn23{
    right: 37.4%;
    bottom: 19.8%;
}
.y-warn23{
    right: 36.2%;
    bottom: 19.8%;
}
.r-warn24{
    right: 44%;
    bottom: 7%;
}
.g-warn24{
    right: 44.6%;
    bottom: 5.8%;
}
.y-warn24{
    right: 43.4%;
    bottom: 5.8%;
}
.r-warn25{
    right: 56%;
    bottom: 10%;
}
.g-warn25{
    right: 56.6%;
    bottom: 8.8%;
}
.y-warn25{
    right: 55.4%;
    bottom: 8.8%;
}
.r-warn26{
    right: 64%;
    bottom: 14.3%;
}
.g-warn26{
    right: 64.6%;
    bottom: 13.1%;
}
.y-warn26{
    right: 63.4%;
    bottom: 13.1%;
}
.r-warn{
    /*background: url("../../asset/img/sign-red.png") no-repeat;*/
}
.g-warn{
    /*background: url("../../asset/img/sign-green.png") no-repeat;*/
}
.y-warn{
    /*background: url("../../asset/img/sign-yellow.png") no-repeat;*/
}
.prevention-img .red{
    background: url("../../asset/img/sign-red.png") no-repeat;
}
.prevention-img .green{
    background: url("../../asset/img/sign-green.png") no-repeat;
}
.prevention-img .yellow{
    background: url("../../asset/img/sign-yellow.png") no-repeat;
}







.prevention-video{
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #229fe6;
    box-shadow: 0 0 10px #229fe6;
    box-sizing: border-box;
    overflow: hidden;
}
.vlc1{
    width: 100%;
    background:url(../../asset/img/gst_bj.png) center no-repeat;
    background-size:cover;
}
.video-hover{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    padding-right:15px;
    height: 32px;
    line-height: 32px;
    background: rgba(0,0,0,.8);
    text-align: right;
    z-index: 2;
    display: none;
}

.video-hover >a{
    margin-left: 5px;
    font-size: 12px;
    vertical-align: middle;
}

.prevention-video .img{
    width: 100%;
}

.opt-monitor{
    position: absolute;
    top: 33px;
    right: 77px;
    width: 80px;
    height: 80px;
    background: url("../../asset/img/opt_monitor_bg.png") no-repeat;
    background-size: cover;
    display: none;
}

.opt-top-lt{
    top: 14px;
    left: 12px;
    width: 12px;
    height: 14px;
    background: url("../../asset/img/opt_toplt.png") no-repeat;
}
.opt-top-rt{
    top: 14px;
    right: 12px;
    width: 12px;
    height: 14px;
    background: url("../../asset/img/opt_toprt.png") no-repeat;
}
.opt-top-ct{
    top: 3px;
    left: 35px;
    width: 12px;
    height: 12px;
    background: url("../../asset/img/opt_topct.png") no-repeat;
}
.opt-mid-lt{
    top: 35px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: url("../../asset/img/opt_middlelt.png") no-repeat;
}
.opt-mid-rt{
    top: 35px;
    right: 4px;
    width: 12px;
    height: 12px;
    background: url("../../asset/img/opt_middlert.png") no-repeat;
}
.opt-bot-lt{
    bottom: 13px;
    left: 12px;
    width: 12px;
    height: 13px;
    background: url("../../asset/img/opt_bottomlt.png") no-repeat;
}
.opt-bot-rt{
    bottom: 13px;
    right: 12px;
    width: 12px;
    height: 13px;
    background: url("../../asset/img/opt_bottomrt.png") no-repeat;
}
.opt-bot-ct{
    bottom: 2px;
    left: 35px;
    width: 12px;
    height: 13px;
    background: url("../../asset/img/opt_bottomct.png") no-repeat;
}
.opt-big{
    left: 24px;
    top: 33px;
    width: 14px;
    height: 14px;
    background: url("../../asset/img/opt_big.png") no-repeat;
}
.opt-small{
    right: 20px;
    top: 32px;
    width: 14px;
    height: 14px;
    background: url("../../asset/img/opt_small.png") no-repeat;
}
.opt-item{
    position: absolute;
    background-size: contain;
}