.sign {
    height: 20px;
    margin-left: 20%;
}
.sign span{
    font-size: 12px;
    margin-right: 40px;
}
.icon-sign-red{
    background: url("../../asset/img/sign-red.png") left no-repeat;
    padding-left: 30px;
}
.icon-sign-yellow{
    background: url("../../asset/img/sign-yellow.png") left no-repeat;
    padding-left: 30px;
}
.icon-sign-green{
    background: url("../../asset/img/sign-green.png") left no-repeat;
    padding-left: 30px;
}
.prevention-left{
    float: left;
    width: 79%;
}
.prevention-right{
    float: left;
    width: 21%;
    padding-left: 20px;
    margin-top: -70px;
    box-sizing:border-box;
}

.prevention-map {
    position: relative;
    border: 1px solid #563ad2;
    box-shadow: 0 0 10px #563ad2;
    padding: 10px;
}

.icon-corner{
    position: absolute;
    width: 43px;
    height: 40px;
}

.corner-top-left{
    top: -18px;
    bottom: -18px;
    left: -18px;
    background: url("../../asset/img/corner-top-left.png") no-repeat;
}

.corner-top-right{
    top: -18px;
    bottom: -18px;
    right: -18px;
    background: url("../../asset/img/corner-top-right.png") no-repeat;
}

.corner-bottom-left{
    bottom: -18px;
    left: -18px;
    background: url("../../asset/img/corner-bottom-left.png") no-repeat;
}

.corner-bottom-right{
    bottom: -18px;
    right: -18px;
    background: url("../../asset/img/corner-bottom-right.png") no-repeat;
}

.prevention-img {
    position: relative;
}
.prevention-img img{
    max-width: 100%;
    width: 100%;
}
.prevention-img span{
    position: absolute;
    width: 28px;
    height: 28px;
    background-size: contain;
}
.warn1{
    left: 12.63%;
    bottom: 27.5%;
}
.warn2{
    left: 4.94%;
    bottom: 32.9%;
}
.warn3{
    left: 4%;
    bottom: 39.5%;
}
.warn4{
    left: 12.63%;
    bottom: 49.3%;
}
.warn5{
    left: 17.5%;
    bottom: 54.3%;
}
.warn6{
    left: 27%;
    top: 30%;
}
.warn7{
    left: 32.1%;
    top: 24.75%;
}
.warn8{
    left: 39%;
    top: 17.76%;
}
.warn9{
    left: 44.9%;
    top: 11.37%;
}
.warn10{
    left: 50%;
    top: 6.37%;
}
.warn11{
    right: 43.7%;
    top: 2.9%;
}
.warn12{
    right: 40%;
    top: 2.9%;
}
.warn13{
    right: 28.21%;
    top: 6.9%;
}
.warn14{
    right: 29.3%;
    top: 13%;
}
.warn15{
    right: 33%;
    top: 17.5%;
}
.warn16{
    right: 36.8%;
    top: 22%;
}
.warn17{
    right: 40.5%;
    top: 26.5%;
}
.warn18{
    right: 43%;
    top: 28.8%;
}
.warn19{
    right: 41%;
    top: 33.5%;
}
.warn20{
    right: 27.8%;
    top: 40.2%;
}
.warn21{
    right: 23.8%;
    top: 49.5%;
}
.warn22{
    right: 29.8%;
    top: 60.5%;
}
.warn23{
    right: 36.8%;
    bottom: 21%;
}
.warn24{
    right: 44%;
    bottom: 7%;
}
.warn25{
    right: 56%;
    bottom: 10%;
}
.warn26{
    right: 64%;
    bottom: 14.3%;
}
.prevention-img .red{
    background: url("../../asset/img/sign-red.png") no-repeat;
}
.prevention-img .green{
    background: url("../../asset/img/sign-green.png") no-repeat;
}
.prevention-img .yellow{
    background: url("../../asset/img/sign-yellow.png") no-repeat;
}







.prevention-video{
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #229fe6;
    box-shadow: 0 0 10px #229fe6;
    box-sizing: border-box;

}
.vlc1{
    width: 100%;
    background:url(../../asset/img/gst_bj.png) center no-repeat;
    background-size:cover;
}
.video-hover{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    padding-right:15px;
    height: 32px;
    line-height: 32px;
    background: rgba(0,0,0,.8);
    text-align: right;
    z-index: 2;
    display: none;
}

.video-hover >a{
    margin-left: 5px;
    font-size: 12px;
    vertical-align: middle;
}

.prevention-video .img{
    width: 100%;
}

.opt-monitor{
    position: absolute;
    top: 33px;
    right: 77px;
    width: 80px;
    height: 80px;
    background: url("../../asset/img/opt_monitor_bg.png") no-repeat;
    background-size: cover;
    display: none;
}

.opt-top-lt{
    top: 14px;
    left: 12px;
    width: 12px;
    height: 14px;
    background: url("../../asset/img/opt_toplt.png") no-repeat;
}
.opt-top-rt{
    top: 14px;
    right: 12px;
    width: 12px;
    height: 14px;
    background: url("../../asset/img/opt_toprt.png") no-repeat;
}
.opt-top-ct{
    top: 3px;
    left: 35px;
    width: 12px;
    height: 12px;
    background: url("../../asset/img/opt_topct.png") no-repeat;
}
.opt-mid-lt{
    top: 35px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: url("../../asset/img/opt_middlelt.png") no-repeat;
}
.opt-mid-rt{
    top: 35px;
    right: 4px;
    width: 12px;
    height: 12px;
    background: url("../../asset/img/opt_middlert.png") no-repeat;
}
.opt-bot-lt{
    bottom: 13px;
    left: 12px;
    width: 12px;
    height: 13px;
    background: url("../../asset/img/opt_bottomlt.png") no-repeat;
}
.opt-bot-rt{
    bottom: 13px;
    right: 12px;
    width: 12px;
    height: 13px;
    background: url("../../asset/img/opt_bottomrt.png") no-repeat;
}
.opt-bot-ct{
    bottom: 2px;
    left: 35px;
    width: 12px;
    height: 13px;
    background: url("../../asset/img/opt_bottomct.png") no-repeat;
}
.opt-big{
    left: 24px;
    top: 33px;
    width: 14px;
    height: 14px;
    background: url("../../asset/img/opt_big.png") no-repeat;
}
.opt-small{
    right: 20px;
    top: 32px;
    width: 14px;
    height: 14px;
    background: url("../../asset/img/opt_small.png") no-repeat;
}
.opt-item{
    position: absolute;
    background-size: contain;
}