.on-duty {
}

.right-form {
  position: absolute;
  right: 0;
  bottom: -10px;
  display: table;
  margin-bottom: 0;
}

.table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse:collapse;
  background: #1e254d;
  background: rgba(30,37,77,.68);
}
.table > thead > tr > th {
  position: relative;
  box-sizing: border-box;
  border: 0;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #324484;
  background: #3171f8;
  font-size: 16px;
  font-weight: normal;
}
.table > thead > tr > th > p {
  padding: 8px 10px;
}
/*.table > thead > tr > th:first-child {
  border-left-color: transparent;
}
.table > thead > tr > th:last-child {
  border-right-color: transparent;
}
.table > thead > tr > th:first-child > p {
  border-radius: 5px 0 0 0;
}
.table > thead > tr > th:last-child > p {
  border-radius: 0 5px 0 0;
}*/
.table > tbody > tr > td, .table > tbody > tr > th {
  position: relative;
  padding: 7px 0;
  border: solid 1px #324484;
  font-weight: normal;
  text-align: center;
}
.table > tbody > tr > td > p {
  padding: 0 5px;
  white-space: nowrap;
  text-align: center;
}
.table > tbody > tr:hover > td {
  position: relative;
  color: #fff;
  background: #293dcf;
  zoom:1;
}
.table > tbody > tr.isedit:hover .opt-outer {
  display: block;
}
.opt-outer{
  height:0px;
  position:relative;
  display:none;
}
.table-opt{
  position: absolute;
  right: 0;
  top: -51px;
  white-space: nowrap;
  height: 25px;
  line-height: 24px;
  z-index: 99;
}
.table-opt > a.btn-row {
  display: inline-block;
  height: 24px;
  padding: 0 10px;
  margin: 0 1px 0 0;
  box-sizing: border-box;
  background-color: #293dcf;
  border: none;
  outline: none;
  border-radius: 3px 3px 0 0;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.table-opt > input.btn-row {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  margin: -4px 1px 0 0;
  box-sizing: border-box;
  background-color: #F6AB00;
  border: none;
  outline: none;
  border-radius: 3px 3px 0 0;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
}
.table-opt > a.btn-row.btn-disabled, .table-opt > input.btn-row:disabled, .table-opt > input.btn-row.btn-disabled {
  background-color: #cccccc;
  color: #f0f0f0;
  cursor: not-allowed;
}
.schedule, .duty-time {
  display: inline-block;
  text-align: center;
}
.duty-time {
  width: 70px;
  font-size: 12px;
}
.ranks {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  color: #88898f;
}
.text-area {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  display: inline-block;
  padding-bottom: 45px;
  background: #fff;
  border-radius: 6px;
  color: #383838;
  text-align: left;
  white-space: normal;
}
.txt-area {
  position: relative;
  min-height: 142px;
  padding: 10px;
  margin: 5px;
  background: #fff;
  border-radius: 6px;
  color: #383838;
  text-align: left;
  white-space: normal;
}
.txt-area .show-select {
  margin-right: 60px;
}
.show-select > span {
  position: relative;
  display: inline-block;
  margin: 5px 5px 0;
  padding: 5px 10px;
  background: #f0f0f0;
}
.show-select > span > .btn-del {
  position: absolute;
  right: -6px;
  top: -6px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 13px;
  text-align: center;
  background: #FF5722;
  color: #fff;
}
.btn-select {
  position: absolute;
  right: 12px;
  bottom: 12px;
  display: inline-block;
  padding: 5px 10px;
  background: #00bffe;
  color: #fff;
}
.txt-area .select-area, .text-area .select-area {
  display: none;
  position: relative;
  height: 0;
}
.txt-area .select-area > li {
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 12px;
  padding: 10px;
  margin: 0;
  background: #042867;
  border: 1px solid #060337;
}
.text-area .select-area > li {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  height: 500px;
  overflow: auto;
  padding: 10px;
  margin: 0;
  background: #042867;
  border: 1px solid #060337;
}
.chk-item {
  display: inline-block;
  width: 170px;
  padding: 2px;
}